*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
    color: white
}

nav {
    background-color: #3f3f3f;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #f0f0f0;
}

section {
    padding: 2rem;
    margin: 2rem 0;
}

section h2 {
    margin-bottom: 1rem;
    color: #ffffff;
}


.project {
    margin-bottom: 1.5rem;
}


article {
    margin-bottom: 1.5rem;
}

article h3 {
    margin-bottom: 0.5rem;
}

article a {
    color: #007BFF;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

table {
    width: 50%;
    border-collapse: collapse;
}


footer {
    background: #000000;
    /*color: #fff;*/
    color: green;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
